{% extends '::baseAdmin.html.twig' %}

{% block body -%}
    
    <div class="clearfix">
      <div class="panel panel-default">
        <div class="panel-heading panel-header clearfix">
            <div class="pull-left">
                <h3 class="panel-title"><strong>Инвентарь</strong></h3>
            </div>
            <div class="pull-right">
                <a href="{{ path('inventories_new') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Добавить
                </a>
            </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Название</th>
              <th>Категория</th>
              <th>Изменить</th>
              <th>Удалить</th>
            </tr>
          </thead>
          <tbody>
            {% for entity in entities %}
                <tr>
                  <td>{{ entity.id }}</td>
                  <td>{{ entity.name }}</td>
                  <td>{{ entity.idCategory }}</td>
                  <td><a href="{{ path('inventories_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                  <td><a href="{{ path('inventories_delete', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% endblock %}
{% block title %}
    Инвентарь
{% endblock %}
