{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Inventories</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Idinventory</th>
                <td>{{ entity.idInventory }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('inventories') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('inventories_edit', { 'id': entity.idInventory }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
