{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Properties list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Idproperties</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('properties_show', { 'id': entity.idProperties }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.idProperties }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('properties_show', { 'id': entity.idProperties }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('properties_edit', { 'id': entity.idProperties }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('properties_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
