{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Images list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('images_show', { 'id': entity.idImage }) }}">{{ entity.idImage }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('images_show', { 'id': entity.idImage }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('images_edit', { 'id': entity.idImage }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('images_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
